VITE_SUPABASE_URL=https://kypkeyfsturjeqcuuecm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5cGtleWZzdHVyamVxY3V1ZWNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMDkyMjUsImV4cCI6MjEwNjc4NTIyNX0.WfTLs8n202XRwIgPMrWcKLKVQ5aFAMavC9iW6GumDcI
